.wrapper {
	width: 1100px;
	margin: 0 auto;
	font-family: Microsoft YaHei;
}

.wrapper .block {
	margin: 100px 0;
	display: inline-block;
	width: 33.3%;
	text-align: center;
}

.wrapper .block h2{
	margin: 20px 0;
}

.wrapper .block p{
	color: #aaa;
}

@media screen and (max-width: 1024px) {
	.wrapper {
		width: 100%;
	}
	.wrapper .block {
		width: 100%;
		margin: 20px 0;
	}
}