.wrapper {
	width: 1000px;
	font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei";
	margin: 15px auto;
}

.wrapper .block {
	height: 45px;
	width: 49%;
	display: inline-block;
	background-color: #f5f6f7;
	margin: 20px 0;

	// position: relative;
}

.wrapper .block:hover {
	cursor: pointer;
}

.wrapper img {
	position: relative;
	top: 17px;
	left: 20px;
	float: left;
}

.wrapper p {
// 	position: relative;
	// line-height: 30px;
// 	float: left;
// 	left: 40px;
// 	font-size: 20px;
// 	color: black;
}

// .wrapper a:nth-child(even) .block{
// 	float: right;
// }

.wrapper .block:nth-child(even){
	float: right;
}

.dropBar {
	position: absolute;
	margin-top: 45px;
	display: none;
	// width: 100%;
    background-color: #f5f6f7;
    z-index: 2;
}

.dropBar>span{
	margin: 10px 0;
	display: block;
    font-size: 18px;
    text-indent: 50px;
}

.support {
	width: 980px;
	margin: 0 auto 10px;
	// text-align: center;
	font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei";
	// border: 1px solid black;
	background-color: #f5f6f7;
	// border-radius: 20px;
	padding: 10px;

}

.support>p {
	margin: 10px 0;
	font-size: 20px;
	color: #aaa;
}

.support>ul li {
	margin-left: 30px;
	margin: 20px 0 10px 20px;
	font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei";
}

.join {
	// border: 1px solid red;
	width: 300px;
	height: 100px;
	margin: 20px auto;
	background-image: url("../image/sec/email6.png");
	background-size: cover;
	text-align: center;
	line-height: 100px;
	font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei";
}


.support-btn {
	border: 1px solid #4a79bb;
	height: 28px;
	width: 200px;
	border-radius: 200px 200px 200px 200px;
	color: #4a79bb;
	text-align: center;
	line-height: 28px;
	margin: 20px auto;
}



@media screen and (max-width: 1024px) {
	.wrapper {
		width: 100%;
	}
	.wrapper .block {
	    width: 100%;
	    text-align: center;
	}
	.support {
		width: 100%;
	}
}