* {
	border: 0px solid transparent;
}

nav {
	margin-top: 20px;
}

.floatL {
	float: left;
}

#main {
	background: url("../image/back-tiny.jpg");
	// height: 5600px;
	background-size: cover;
	min-width: 1024px;
	position: relative;
	overflow: hidden;
}

.intro {

}
.introImg {
	/*position: absolute;*/
	vertical-align: middle;
}
.headerTitle {
	// width: 30%;
	// left: 0px;
	// right: 0px;
	// margin: 0 auto;
	// display: block;
	// top: 230px;
	position: absolute;
}

.headerTitleWrap {
	position: absolute;
	width: 34%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	display: block;
	top: 230px;
}

.titleWord {
	position: absolute;
	font-size: 40px;
	color: white;
	font-weight: bold;
	font-family: Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, STHeiti, 华文细黑, sans-serif;
	letter-spacing: 2px;
}

.titleManagement {
	top: 220px;
	width: 240px;
	text-align: center;
	left: -300px;
}

.titleGene {
    top: 220px;
    width: 340px;
    text-align: center;
    left: 694px;
}

.titleStorage {
	top: -50px;
	left: 250px;
}

.titleAnalytic {
	left: 200px;
	top: 490px;
}

.headerBall {
	position: absolute;
	// width: 32%;
	margin-top: -380px;
}

.headerBall2 {
	position: absolute;
	// width: 22%;
	margin-top: -540px;
	right: 0px;
}

.headerBall3 {
	position: absolute;
	// width: 22%;
	margin-top: -240px;
	left: 46%;
}

.spark {
	// position: absolute;
	margin-top: -100px;
}

.data-space {
	min-height: 1300px;
	// overflow: hidden;
	background-image: url('../image/图2球3-1-tiny.png');
	background-repeat: no-repeat;
	background-position: right;
	border-top: 1px solid transparent;
	position: relative;
}
.data-space .word-content::before{
	content: '';
	background: url("../image/wordPrefix.png");
	background-size:70px 33px;
	width: 70px;
	height: 33px;
	position: absolute;
	margin-left: -100px;
	z-index: 4;
}
.data-space .word-content{
	color: white;
	max-width: 720px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 300px;
}
.data-space .word-content h2{
    line-height: 1;
    margin: 0;
    font-family: "FangZheng",arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 2.1428571429rem;
    font-weight: normal;
}
.data-space .word-content p{
    font-family: Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, STHeiti, 华文细黑, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    text-align: justify;
    letter-spacing: 3px;
    font-weight: lighter;
}

.cloud {
	position: absolute;
	left: -180px;
	margin-top: -210px;
	z-index: 10;
}

.more {
	margin-top: 30px;
    position: relative;
    z-index: 6;
}

.universe {
	min-height: 1050px;
	position: relative;
}

.track {

}
.track {
	margin: 0 auto;
	// width: 93%;
	display: block;
}

.track-wrapper {
	position: absolute;
	min-height: 1500px;
	width: 100%;
	z-index: 2;
}

.data-analytic {
	border: 1px solid transparent;
	min-height: 1300px;
	position: relative;
	background-image: url("../image/黑洞-tiny.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.data-analytic .word-content::before{
	content: "";
	background: url("../image/wordPrefix.png");
	background-size:70px 33px;
	width: 70px;
	height: 33px;
	position: absolute;
	margin-left: -100px;
}
.data-analytic .word-content{
	color: white;
	max-width: 720px;
	top: 650px;
	position: absolute;
	left: 20%;
}

.data-analytic .word-content h2{
    line-height: 1;
    margin: 0;
    font-family: "FangZheng",arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 2.1428571429rem;
    font-weight: normal;
}
.data-analytic .word-content p{
    font-family: Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, STHeiti, 华文细黑, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    text-align: justify;
    letter-spacing: 3px;
    font-weight: lighter;
}

#track {
	background-image: url("../image/组1-tiny.png");
	background-repeat: no-repeat;
	background-position: 200px 730px;
	background-size: 100%;
}

#half-ball {
	// background-image: url("../image/3.png");
	position: absolute;
	// min-height: 800px;
	// width: 100%;
	// background-size: 100% 100%;
	// z-index: 1;
	// background-repeat: no-repeat;
}

.universe .word-content{
	color: white;
    max-width: 720px;
    margin: 0 auto;
    position: absolute;
    left: 37%;
    top: 400px;
    // z-index: 3;
	display: none;
}

.universe .word-content::before{
	content: '';
	background: url("../image/wordPrefix.png");
	background-size:70px 33px;
	width: 70px;
	height: 33px;
	position: absolute;
	margin-left: -100px;
}

.universe .word-content h2{
    line-height: 1;
    margin: 0;
    font-family: "FangZheng",arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 2.1428571429rem;
    font-weight: normal;
}
.universe .word-content p{
    font-family: Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, STHeiti, 华文细黑, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    text-align: justify;
    letter-spacing: 3px;
    font-weight: lighter;
}

.ground {
	// width: 100%;
	font-size: 0px;
	// position: absolute;
}

.ground-img {
	width: 100%;
	max-height: 1000px;
}

.logo-bot {
	width: 50%;
	left: 0;
	right: 0;
	margin: -100px auto 0;
	position: absolute;
}

.sub-nav-contain a {
    color: #ababab;
    text-decoration: none;
}

@media screen and (max-width: 1441px) {
	.headerTitleWrap {
		width: 44%;
	}
}

@media screen and (max-width: 1400px) {
	.titleWord {
		font-size: 32px;
	}
	.headerTitleWrap {
		width: 47%;
	}
    #main {
    	// height: 5300px;
    }
    .cloud {
    	width: 60%;
    }
    .data-space {
	    background-size: 620px;
    }
    .data-space .word-content {
	    max-width: 543px;
	    top: 450px;
	}
    .data-space .word-content::before {
		background-size:50px 20px;
		width: 50px;
		height: 20px;
		margin-left: -80px;
		z-index: 4;
	}
	.data-space .word-content h2 {
    	line-height: 0.9;
	    font-size: 1.62rem;
	}
	.more {
	    width: 100px;
	}
	#half-ball>img {
	    margin-left: -100px;
	    margin-top: -200px;
	    width: 100%;
	}
	#track {
		background-size: 75%;
		background-position-x: 380px;
	}
	.track-wrapper {
	    position: absolute;
	    min-height: 1000px;
	    width: 100%;
	    z-index: 2;
	}
	.universe .word-content {
	    max-width: 543px;
	}
	.universe .word-content::before {
		background-size:50px 20px;
		width: 50px;
		height: 20px;
		margin-left: -80px;
		z-index: 4;
	}
	.universe .word-content h2 {
    	line-height: 0.9;
	    font-size: 1.62rem;
	}

	.data-analytic .word-content {
	    max-width: 543px;
	}
	.data-analytic .word-content::before {
		background-size:50px 20px;
		width: 50px;
		height: 20px;
		margin-left: -80px;
		z-index: 4;
	}
	.data-analytic .word-content h2 {
    	line-height: 0.9;
	    font-size: 1.62rem;
	}
	.headerBall {
	    position: absolute;
	    margin-top: -380px;
	    width: 30%;
	}
	.headerBall2 {
		width: 5%;
	}
    .universe {
    	min-height: 800px;
    }
    .ground-img {
		width: 100%;
		max-height: 750px;
	}
	.logo-bot {
		margin: -50px auto 0;
	}
}

@media screen and (max-width: 1024px) {
	.headerTitleWrap {
		top: 74px;
		left: 100px;
		top: 200px;
		left: 230px;
	}
	.titleWord {
		font-size: 25px;
	}
	.titleStorage {
		left: 80px;
	}
	.titleManagement {
		top: 80px;
	    left: -235px;
	}
	.titleAnalytic {
		top: 220px;
		left: 45px;
	}
	.titleGene {
		left: 245px;
    	top: 80px;
    	width: 310px;
	}
	.headerTitle {
		width: 65%;
	}
	#main {
		min-width: 0px;
	}
	.introImg {
		position: relative;
		top: 40px;
		left: -20px;
		width: 150%;
	}
	.spark {
        margin-top: -340px;
    	margin-left: -166px;
	}
	.cloud {
	    left: -100px;
	    margin-top: -350px;
	}
	.data-space {
	    background-size: 320px;
	    min-height: 400px;
	}
	.data-space .word-content {
	    max-width: 640px;
	    top: 130px;
	    left: 22%;
	}
	.data-space .word-content h2 {
	    font-size: 1.22rem;
	}
	.universe {
	    min-height: 500px;
	}
	.universe .word-content {
	    max-width: 640px;
        top: 110px;
        z-index: 6;
	}
	.universe .word-content h2 {
	    font-size: 1.22rem;
	}
	#half-ball>img {
	    width: 85%;
	}
	#track {
		background-position-x: 55px;
		background-size: 100%;
	}
	.data-analytic {
		min-height: 1200px;
	    background-size: 150%;
	    background-position-x: 43%;
	}
	.data-analytic .word-content {
	    max-width: 640px;
	    left: 30%;
        top: 400px;
	}
	.data-analytic .word-content h2 {
	    font-size: 1.22rem;
	}
	.logo-bot {
    	width: 80%;
	    margin: -155px auto 0;
    }
}

@media screen and (max-width: 800px) {
	.headerTitleWrap {
	    top: 140px;
	    left: 210px;
	}
	.titleWord {
		font-size: 20px;
		display: none;
	}
	.titleStorage {
		left: 63px;
		top: -25px;
	}
	.titleManagement {
		width: 200px;
	    top: 68px;
	    left: -190px;
	}
	.titleAnalytic {
	    top: 160px;
	    left: 28px;
	}
	.titleGene {
	    left: 235px;
	    top: 68px;
	    width: 165px;
	}
}

@media screen and (max-width: 700px) {
	.headerTitleWrap {
		left: 110px;
	}
	.titleStorage {
	    left: 50px;
	}
	.titleManagement {
	    top: 58px;
	}
	.titleGene {
	    left: 210px;
	    top: 58px;
	}
	.titleAnalytic {
	    top: 140px;
	    left: 16px;
	}
	.universe .word-content h2 {
	    font-size: 1.12rem;
	}
	.data-space .word-content h2 {
	    font-size: 1.12rem;
	}
	.data-analytic .word-content h2 {
	    font-size: 1.12rem;
	}
	.universe .word-content {
	    max-width: 340px;
	}
	.data-space .word-content {
		top: 45px;
		left: 10%;
		max-width: 340px;
	}
	.data-analytic .word-content {
	    max-width: 340px;
	    top: 0px;
	}
	.data-analytic {
		min-height: 800px;
	}
	.cloud {
	    left: -100px;
	    margin-top: -100px;
	}
	.universe {
		min-height: 500px;
	}
}

@media screen and (max-width: 450px) {
	.headerTitle {
		// width: 75%;
	}
	.headerTitleWrap {
	    width: 75%;
	    left: 105px;
	    top: 100px;
	}
	.titleWord {
		font-size: 12px;
	}
	.titleStorage {
		left: 53px;
		top: -15px;
	}
	.titleAnalytic {
	    top: 130px;
	    left: 27px;
	}
	.titleManagement {
		left: -108px;
		width: 112px;
		top: 58px;
	}
	.titleGene {
	    left: 150px;
	    top: 58px;
	    letter-spacing: 1px;
	    width: 150px;
	}
	#main {
		min-width: 0px;
	}
	.introImg {
		position: relative;
		top: 40px;
		left: -20px;
		width: 150%;
	}
	.headerTitle {
		// top: 70px;
	}
	.spark {
	    margin-top: -340px;
	}
	.cloud {
	    left: -100px;
	    margin-top: 100px;
	}
	.data-space {
		background-position-x: 200px;
	    background-size: 320px;
	    min-height: 400px;
	}
	.data-space .word-content {
	    max-width: 300px;
	    top: 0;
	    left: 3%;
	}
	.data-space .word-content h2 {
	    font-size: 1.02rem;
	}
	.universe {
	    min-height: 500px;
	}
	.universe .word-content {
	    max-width: 300px;
	    left: 3%;
	    top: 240px;
	}
	.universe .word-content h2 {
	    font-size: 1.02rem;
	}
	.data-analytic {
		min-height: 666px;
	    background-size: 200%;
	    background-position-x: 43%;
	}
	.data-analytic .word-content {
	    max-width: 300px;
	    left: 3%;
        top: 320px;
	}
	.data-analytic .word-content h2 {
	    font-size: 1.02rem;
	}
	.logo-bot {
    	width: 80%;
	    margin: -80px auto 0;
    }
}

.cube {
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   /* Other transform properties here */
}

.cube {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   /* Other transform properties here */
}

.cube {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
  /* Other transform properties here */
}