nav {
	margin-top: 20px;
}

.floatL {
	float: left;
}

#main {
	background: url("../image/back.jpg");
	height: 5600px;
	background-size: cover;
	min-width: 1024px;
	position: relative;
	overflow: hidden;
}

.intro {
	
}
.introImg {
	/*position: absolute;*/
	vertical-align: middle;
}
.headerTitle {
	width: 30%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	display: block;
	top: 230px;
	position: absolute;
}

.headerBall {
	position: absolute;
	// width: 32%;
	margin-top: -380px;
}

.headerBall2 {
	position: absolute;
	// width: 22%;
	margin-top: -540px;
	right: 0px;
}

.headerBall3 {
	position: absolute;
	// width: 22%;
	margin-top: -240px;
	left: 46%;
}

.spark {
	// position: absolute;
	margin-top: -100px;
}

.data-space {
	min-height: 1300px;
	// overflow: hidden;
	background-image: url('../image/图2球3-1.png');
	background-repeat: no-repeat;
	background-position: right;
	border-top: 1px solid transparent;
	position: relative;
}
.data-space .word-content::before{
	content: '';
	background: url("../image/wordPrefix.png");
	background-size:70px 33px;
	width: 70px;
	height: 33px;
	position: absolute;
	margin-left: -100px;
	z-index: 4;
}
.data-space .word-content{
	color: white;
	max-width: 720px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 300px;

}
.data-space .word-content h2{
    line-height: 1;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 2.1428571429rem;
}
.data-space .word-content p{
    font-family: "Source Sans Pro", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    text-align: justify;
}

.cloud {
	position: absolute;
	left: -180px;
	margin-top: -210px;
	z-index: 10;
}

.more {
	margin-top: 30px;
}

.universe {
	min-height: 800px;
	position: relative;
}

.track {

}
.track {
	margin: 0 auto;
	// width: 93%;
	display: block;
}

.track-wrapper {
	position: absolute;
	min-height: 1500px;
	width: 100%;
	z-index: 2;
}

.data-analytic {
	border: 1px solid transparent;
	min-height: 1300px;
	position: relative;
	background-image: url("../image/黑洞.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.data-analytic .word-content::before{
	content: "";
	background: url("../image/wordPrefix.png");
	background-size:70px 33px;
	width: 70px;
	height: 33px;
	position: absolute;
	margin-left: -100px;
}
.data-analytic .word-content{
	color: white;
	max-width: 720px;
	margin: 500px auto 0;
	position: relative;
	left: -9%;
}

.word-content h2{
    line-height: 1;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 2.1428571429rem;
}
.word-content p{
    font-family: "Source Sans Pro", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    text-align: justify;
}

#track {
	background-image: url("../image/组1.png");
	background-repeat: no-repeat;
	background-position: 200px 730px;
	background-size: 100%;
}

#half-ball {
	// background-image: url("../image/3.png");
	position: absolute;
	// min-height: 800px;
	// width: 100%;
	// background-size: 100% 100%;
	// z-index: 1;
	// background-repeat: no-repeat;
}

.universe .word-content{
	color: white;
    max-width: 720px;
    margin: 0 auto;
    position: absolute;
    left: 37%;
    margin-top: 200px;
    z-index: 3;
}

.universe .word-content::before{
	content: '';
	background: url("../image/wordPrefix.png");
	background-size:70px 33px;
	width: 70px;
	height: 33px;
	position: absolute;
	margin-left: -100px;
}

.ground {
	// width: 100%;
	font-size: 0px;
	// position: absolute;
}

.ground-img {
	width: 100%;
}

.logo-bot {
	width: 50%;
	left: 0;
	right: 0;
	margin: -100px auto 0;
	position: absolute;
}

@media screen and (max-width: 1400px) {
    #main {
    	height: 5300px;
    }
    .cloud {
    	width: 60%;
    }
    .data-space {
	    background-size: 620px;
    }
    .data-space .word-content {
	    max-width: 543px;
	}
    .data-space .word-content::before {
		background-size:50px 20px;
		width: 50px;
		height: 20px;
		margin-left: -80px;
		z-index: 4;
	}
	.data-space .word-content h2 {
    	line-height: 0.9;
	    font-size: 1.62rem;
	}
	.more {
	    width: 100px;
	}
	#half-ball>img {
	    margin-left: -100px;
	    margin-top: -200px;
	    width: 100%;
	}
	#track {
		background-size: 75%;
		background-position-x: 380px;
	}
	.track-wrapper {
	    position: absolute;
	    min-height: 1000px;
	    width: 100%;
	    z-index: 2;
	}
	.universe .word-content {
	    max-width: 543px;
	}
	.universe .word-content::before {
		background-size:50px 20px;
		width: 50px;
		height: 20px;
		margin-left: -80px;
		z-index: 4;
	}
	.universe .word-content h2 {
    	line-height: 0.9;
	    font-size: 1.62rem;
	}

	.data-analytic .word-content {
	    max-width: 543px;
	}
	.data-analytic .word-content::before {
		background-size:50px 20px;
		width: 50px;
		height: 20px;
		margin-left: -80px;
		z-index: 4;
	}
	.data-analytic .word-content h2 {
    	line-height: 0.9;
	    font-size: 1.62rem;
	}
	.headerBall {
	    position: absolute;
	    margin-top: -380px;
	    width: 30%;
	}
	.headerBall2 {
		width: 5%;
	}
}